section h1{
    animation: slide-in-left 3s ease-in-out both;
  }

  section .ans{
    animation: slide-in-right 3s ease-in-out both;
  }
  
  section .ans-2{
    animation: slide-in-left 3s ease-in-out both;
  }

  @keyframes slide-in-left {
    0% {
      transform: translateX(-100px);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }

  @keyframes slide-in-right {
    0% {
      transform: translateX(100px);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }