body{
    background-color: black;
}

p{
    color: white;
}

span{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
/* start header */

header{
    display: flex; 
    justify-content: space-between;  
    align-items: center;
}

header .left_side img{
    width: 10%;
    height: auto;
    margin-left: 2%;
    /* margin-top: 1%; */
}

header .right_side{
    /* margin-right: 2%; */
    /* margin-top: -1%; */
    font-size: 70%;
}

header .right_side h1{
    color: #f46d57;
}

header .right_side p{
    color: white;
}


/* end header */

/* start navbar */

nav{
    background: #562051;
    height: 40px;
    margin: 1% 0.10% 0% 0.10%;
}

nav .left_nav{
    width: 60%;
}

nav .left_nav ul{
    display: flex;
}

nav .left_nav ul li{
    margin: auto;
    margin-top: 9px;
    color: #ffe1ff;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    list-style: none;
    font-size: 20px;
}

/* end nav */

/* start main section */

section {
    color: #585858;
    /* position: relative; */
}

section h1{
    font-size: 50px;
}

section .ans{
    font-size: 20px;
    margin: 30px 10% 0px 80px;
    background: #585858;
    height: auto;
    width: auto;
    color: black;
    border: 4px solid #f46d57;
}

section .ans-2{
    font-size: 20px;
    margin: 30px 10% 0px 80px;
    background: #585858;
    height: auto;
    width: auto;
    color: black;
    border: 4px solid #f46d57;
}

section .ans p{
    margin: 20px;
}

section .ans-2 p{
    margin: 20px;
}

/* end main section */

/* start footer */

footer{
    position: relative;
}

footer .left,.right{
    position: absolute;
    bottom: -100px;
    font-size: 50px;
}
footer .left{
    left: 4%;
}

footer .right{
    position: absolute;
    right: 4%;
    bottom: -100px;
    font-size: 50px;
}


